.para{
    font-size: 22px;
    color:#f00;
    text-align: center;
    padding-left: 20px;
}
.para2{
    font-size:44px;
    color:#3ed;
    text-indent: 2em;
    padding-left: 2em;

}
/*越下边的代码优先级越高*/
p{
	text-align: left;
}
div#content p{
	font-size: 100px
}
.para_bg{
	background-color: #f00;
	font-size: 22px;
	/*没起到作用啊*/
}
